@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Name(http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name) from claim: @TempData["claimname"]</p>
<p>UPN(http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn) from claim: @TempData["claimupn"]</p>
